<ul class="space-y-4 text-sm">

    <li>
      <strong>Name:</strong> Tony Tulakkkkkkk<br>
      <strong>Email:</strong> anthony_pallarca@yahoo.ca<br>
      <strong>Phone:</strong> <br>
      <strong>Event:</strong> Super Saturday: Celebrate Success, Build Momentum<br>
      <strong>Referred By:</strong> John<br>
      <strong>Registered:</strong> 2025-07-02T19:14:00.081Z
    </li>
  

    <li>
      <strong>Name:</strong> Mavy Pal<br>
      <strong>Email:</strong> tonytulak1982@gmail.com<br>
      <strong>Phone:</strong> <br>
      <strong>Event:</strong> Super Saturday: Celebrate Success, Build Momentum<br>
      <strong>Referred By:</strong> Siri<br>
      <strong>Registered:</strong> 2025-07-02T05:22:24.675Z
    </li>
  

    <li>
      <strong>Name:</strong> Tony<br>
      <strong>Email:</strong> tonytulak1982@gmail.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-02T03:06:37.510Z
    </li>
  

    <li>
      <strong>Name:</strong> Tony<br>
      <strong>Email:</strong> tonytulak1982@gmail.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T19:43:52.428Z
    </li>
  

    <li>
      <strong>Name:</strong> Tony<br>
      <strong>Email:</strong> tonytulak1982@gmail.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T19:22:21.776Z
    </li>
  

    <li>
      <strong>Name:</strong> Tony<br>
      <strong>Email:</strong> tonytulak1982@gmail.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T19:19:15.078Z
    </li>
  

    <li>
      <strong>Name:</strong> Tony<br>
      <strong>Email:</strong> tonytulak1982@gmail.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T18:56:21.538Z
    </li>
  

    <li>
      <strong>Name:</strong> Tony<br>
      <strong>Email:</strong> tonytulak1982@gmail.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T18:32:54.474Z
    </li>
  

    <li>
      <strong>Name:</strong> Tony<br>
      <strong>Email:</strong> tonytulak1982@gmail.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T18:29:56.759Z
    </li>
  

    <li>
      <strong>Name:</strong> Tony<br>
      <strong>Email:</strong> tonytulak1982@gmail.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T18:27:11.004Z
    </li>
  

    <li>
      <strong>Name:</strong> John Doe<br>
      <strong>Email:</strong> john@example.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T18:11:47.809Z
    </li>
  

    <li>
      <strong>Name:</strong> John Doe<br>
      <strong>Email:</strong> john@example.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T18:09:04.427Z
    </li>
  

    <li>
      <strong>Name:</strong> John Doe<br>
      <strong>Email:</strong> john@example.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T18:02:57.199Z
    </li>
  

    <li>
      <strong>Name:</strong> John Doe<br>
      <strong>Email:</strong> john@example.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T18:00:27.538Z
    </li>
  

    <li>
      <strong>Name:</strong> John Doe<br>
      <strong>Email:</strong> john@example.com<br>
      <strong>Phone:</strong> 123-456-7890<br>
      <strong>Event:</strong> Wealth Builder June 30<br>
      <strong>Referred By:</strong> Sarah L<br>
      <strong>Registered:</strong> 2025-07-01T17:59:55.356Z
    </li>
  
</ul>