<section class="py-6 px-4">
  <ul class="list-disc list-inside max-w-xl mx-auto">
    {% for feature in features %}
      <li class="text-lg mb-2">{{ feature }}</li>
    {% endfor %}
  </ul>
</section>
