<section class="py-6 text-center">
  <div class="flex justify-center gap-6 flex-wrap">
    {% for logo in partners %}
      <img src="{{ logo }}" alt="Partner" class="h-10" />
    {% endfor %}
  </div>
</section>
